header {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;

  nav {
    width: 100%;
    display: flex;
    gap: 1rem;

    #theme-toggle {
      width: 24px;
      padding: 0;
      height: 24px;
    }

    .icon-sun,
    .icon-moon {
      display: none;
    }
  }
}

section:nth-of-type(even) {
  background-color: var(--c-bg-alt);
}

section {
  display: grid;
  padding: 6rem 1.5rem;
  color: var(--c-text);

  &:nth-of-type(1) {
    height: 100vh;
    place-content: center;
    padding: 0 2rem;

    h1 {
      display: inline;

      .icoon {
        width: clamp(3rem, 4vw, 4.5rem);
        display: inline-block;
        vertical-align: middle;

        @media (min-width: 1000px) {
          width: 4rem;
        }

        &:nth-of-type(1) {
          animation-delay: 0s;
        }

        &:nth-of-type(2) {
          animation-delay: 0.4s;
        }

        &:nth-of-type(3) {
          animation-delay: 0.8s;
        }
      }
    }
  }

  &:nth-of-type(2) {
    text-align: left;
    gap: 1rem;

    @media (min-width: 1000px) {
      place-content: center;
    }

    h2 {
      opacity: 0;
      animation: title-slide 1s linear forwards;
      animation-timeline: view();
      animation-range: entry 0% entry 300%;
    }
  }

  &:nth-of-type(3) {
    gap: 2rem;
    justify-content: center;

    hgroup {
      display: grid;
      place-content: center;
      gap: 1rem;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      article {
        color: var(--c-article-text);
        padding: 2.5rem 1.5rem;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        max-width: 25rem;

        opacity: 0;
        animation: article-fade 1s forwards;
        animation-timeline: view();
        animation-range: entry 0% entry 150%;

        p {
          padding-bottom: 1rem;
        }

        p:nth-of-type(2) {
          font-family: var(--ff-zodiak), sans-serif;
          font-size: var(--fs-article-p);

          small {
            font-size: var(--fs-article-small);
          }
        }

        a {
          margin-bottom: 2rem;
        }

        ul {
          border-top: 1px solid var(--);
          display: grid;
          gap: 1rem;
          padding: 2rem 0 0;
          list-style: none;

          li {
            display: flex;
            align-items: center;
            gap: 0.6rem;

            &::before {
              content: "";
              min-width: 1.3rem;
              min-height: 1.3rem;
              background: url("../assets/svg/checkmark-dark.svg") no-repeat
                center / contain;
            }

            &:first-child::before {
              display: none;
            }

            &:first-child {
              font-weight: 600;
              padding-bottom: 0.5rem;
              list-style: none;
            }
          }
        }

        &:nth-of-type(1) {
          background: var(--c-article-1);
        }

        &:nth-of-type(2) {
          background: var(--c-article-2);
        }

        &:nth-of-type(3) {
          background: var(--c-article-3);
        }
      }
    }
  }

  &:nth-of-type(4) {
    gap: 1rem;
    justify-content: center;
  }

  &:nth-of-type(5) {
    gap: 1rem;
    justify-content: center;

    .tijdlijn {
      margin: 4em auto 0;
      position: relative;
      max-width: 46em;

      &:before {
        content: "";
        background: var(--c-border);
        margin-left: -1px;
        position: absolute;
        top: 0;
        left: 1em;
        width: 1.5px;
        height: 100%;
      }

      li {
        position: relative;
        list-style: none;

        span {
          background-color: var(--c-span-tijdlijn);
          outline: 10px solid var(--c-outline-tijdlijn);
          display: block;
          margin: 0.5em 0.5em 0.5em -0.5em;
          position: absolute;
          top: 0;
          left: 1em;
          width: 1em;
          height: 1em;
        }

        article {
          padding: 1.5rem 0 1.5rem 1rem;
          position: relative;
          top: -1.5em;
          left: 3em;
          width: 80%;

          p:nth-of-type(1) {
            font-size: var(--fs-label);
            display: inline-block;
            margin-bottom: 1.2em;
            padding: 0.2rem 1rem;
            background-color: var(--c-label-bg);
            color: var(--c-label-text);
          }

          h3 {
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }
}

footer {
  background-color: var(--c-bg-alt);
  padding: 1.5rem;

  @media (min-width: 900px) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  p:nth-of-type(1) {
    padding: 1rem 0;
  }

  @media (max-width: 900px) {
    a + a {
      margin: 1rem;
    }
  }

  img {
    width: 4rem;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
    margin: 0 -0.5rem;
    opacity: 0;
  }

  60% {
    transform: scale(1.15);
    margin: 0 0.3rem;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    margin: 0 0.2rem;
    opacity: 1;
  }
}

@keyframes article-fade {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes title-slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  section:nth-of-type(1) h1 .icoon {
    opacity: 0;
    animation: pop 0.5s forwards;
  }
}
