*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Zodiak";
  src: url("../assets/fonts/Zodiak/Fonts/OTF/Zodiak-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family-zodiak: "Zodiak";
  --font-family-gillsans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;

  --font-size-h1: clamp(2rem, 5vw, 8rem);

  --line-height-heading: 1.5;
  --line-height-p: 1.6;
}

p {
  line-height: var(--line-height-p);
}

h1,
h2,
h3,
h4 {
  line-height: var(--line-height-heading);
}

.h1-font {
  font-family: var(--font-family-zodiak), sans-serif;
  font-size: var(--font-size-h1);
  text-align: center;
  rotate: 2deg;
}
