*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Zodiak";
  src: url("../assets/fonts/Zodiak/Fonts/OTF/Zodiak-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("../assets/fonts/Zodiak/Fonts/OTF/Zodiak-Bold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --ff-zodiak: "Zodiak", sans-serif;
  --ff-inter: "inter", sans-serif;

  --fs-h1: clamp(2rem, 5vw, 4rem);
  --fs-h2: 1.8rem;
  --fs-h3: 1.5rem;
  --fs-p: 1rem;
  --fs-button: 0.8rem;
  --fs-article-p: 2rem;
  --fs-article-small: 1rem;
  --fs-label: 0.8rem;

  --lh-h: 1.5;
  --lh-p: 1.7;
  --border-r: 1rem;

  --c-article-1: hsl(220, 72%, 31%);
  --c-article-2: hsl(0, 59%, 41%);
  --c-article-3: hsl(89, 95%, 20%);
  --c-anchor: hsl(240, 96%, 80%);
}

@media (prefers-color-scheme: light) {
  :root {
    --c-bg: hsl(0, 0%, 96%);
    --c-bg-alt: hsl(0, 0%, 90%);
    --c-text: hsl(0, 0%, 0%);
    --c-border: hsl(0, 0%, 0%);
    --c-em: hsl(0, 59%, 41%);

    --c-label-bg: hsl(0, 59%, 41%);
    --c-label-text: hsl(0, 0%, 100%);
    --c-outline-tijdlijn: hsl(0, 0%, 0%);
    --c-span-tijdlijn: hsl(0, 0%, 1000%);

    --c-icon: hsl(0, 0%, 0%);
    color-scheme: ligh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: hsl(0, 0%, 8%);
    --c-bg-alt: hsl(0, 0%, 12%);
    --c-text: hsl(0, 0%, 90%);
    --c-border: hsl(0, 0%, 100%);
    --c-em: hsl(71, 26%, 62%);

    --c-label-bg: hsl(71, 26%, 62%);
    --c-label-text: hsl(0, 0%, 0%);
    --c-outline-tijdlijn: hsl(0, 0%, 100%);
    --c-span-tijdlijn: hsl(0, 0%, 0%);

    --c-icon: hsl(0, 0%, 100%);
    color-scheme: dark;
  }
}

/* Elementen */

body {
  background-color: var(--c-bg);
  color: var(--c-text);
}

p {
  line-height: var(--lh-p);
  font-family: var(--ff-inter);
  font-size: var(--font-size-p);
  max-width: 35rem;
}

a {
  font-family: var(--ff-inter);
  color: var(--c-anchor);
  text-decoration: none;
}

em {
  font-style: normal;
  color: var(--c-em);
}

textarea {
  padding: 0.5rem;
}

h1,
h2,
h3,
h4 {
  line-height: var(--lh-h);
  font-family: var(--ff-zodiak);
  font-weight: normal;
  max-width: 75rem;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.6rem 2rem;
  width: fit-content;
  border-radius: var(--border-r);
}

ul {
  font-family: var(--ff-inter);
}

/* Classes */

.h1-font {
  font-size: var(--fs-h1);
  text-align: center;
}

.h2-font {
  font-size: var(--fs-h2);
}

.h3-font {
  font-size: var(--fs-h3);
}
